<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- https://blogs.msdn.microsoft.com/kaevans/2004/08/19/net-custom-configuration-sections-namevaluesectionhandler-and-dictionarysectionhandler/ -->
    <section name="Person" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Person2" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Gender" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Predicates" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Substitutions" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Splitters" type="AIMLbot.Utils.AimlConfigurationListHandler, AIMLbot" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <Person configSource="PersonSubstitutions.xml" />
  <Person2 configSource="Person2Substitutions.xml" />
  <Gender configSource="GenderSubstitutions.xml" />
  <Predicates configSource="DefaultPredicates.xml" />
  <Substitutions configSource="Substitutions.xml" />
  <Splitters configSource="Splitters.xml" />
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <clear />
    <add key="aimlPath" value="AIML" />
    <add key="stripperRegex" value="[^0-9a-zA-Z]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>