<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Person" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Person2" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Gender" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Predicates" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Substitutions" type="AIMLbot.Utils.AimlConfigurationHandler, AIMLbot" />
    <section name="Splitters" type="AIMLbot.Utils.AimlConfigurationListHandler, AIMLbot" />
  </configSections>
  <Person configSource="Config\PersonSubstitutions.xml" />
  <Person2 configSource="Config\Person2Substitutions.xml" />
  <Gender configSource="Config\GenderSubstitutions.xml" />
  <Predicates configSource="Config\DefaultPredicates.xml" />
  <Substitutions configSource="Config\Substitutions.xml" />
  <Splitters configSource="Config\Splitters.xml" />
  <appSettings>
    <clear />
    <add key="aimlDirectory" value="AIML" />
    <add key="stripperRegex" value="[^0-9a-zA-Z]"/>
    <add key="timeoutMax" value="30000"/>
    <add key="graphMasterFile" value="GraphMaster.dat"/>
    <add key="timeoutMessage" value="ERROR: The request has timed out."/>
    <add key="acceptInput" value="This ChatBot is currently set to not accept user input."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>