<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- https://blogs.msdn.microsoft.com/kaevans/2004/08/19/net-custom-configuration-sections-namevaluesectionhandler-and-dictionarysectionhandler/ -->
      <section name="Person" type="AIMLbot.Utils.AimlSection" />
      <section name="Person2" type="AIMLbot.Utils.AimlSection" />
      <section name="Gender" type="AIMLbot.Utils.AimlSection" />
      <section name="Predicates" type="AIMLbot.Utils.AimlSection" />
      <section name="Substitutes" type="AIMLbot.Utils.AimlSection" />
  </configSections>
    <Person configSource="PersonSubstitutions.xml" />
    <Person2 configSource="Person2Substitutions.xml" />
    <Gender configSource="GenderSubstitutions.xml" />
    <Predicates configSource="DefaultPredicates.xml" />
    <Substitutes configSource="Substitutions.xml" />
  <appSettings>
    <clear />
    <add key="aimlDirectory" value="AIML" />
    <add key="configDirectory" value="Configuration" />
    <add key="logDirectory" value="Logs" />
    <add key="splittersFile" value="Splitters.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>